#### Load SQL

In [2]:
#Load SQL module

%load_ext sql

In [3]:
#Connect to the database

%sql mysql://root:****@localhost:3306/mydatadb

'Connected: root@mydatadb'

## Data Exploration

Select data and take a look of the dataset

In [25]:
%%sql

SELECT *
FROM covid_deaths
LIMIT 5;

 * mysql://root:***@localhost:3306/mydatadb
5 rows affected.

[('AFG', 'Asia', 'Afghanistan', datetime.datetime(2020, 2, 24, 0, 0), 1.0, 1.0, None, None, None, None, 0.026, 0.026, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 8.33, 38928341.0, 54.422, 18.6, 2.581, 1.337, 1803.987, None, 597.029, 9.59, None, None, 37.746, 0.5, 64.83, 0.511),
 ('AFG', 'Asia', 'Afghanistan', datetime.datetime(2020, 2, 25, 0, 0), 1.0, 0.0, None, None, None, None, 0.026, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 8.33, 38928341.0, 54.422, 18.6, 2.581, 1.337, 1803.987, None, 597.029, 9.59, None, None, 37.746, 0.5, 64.83, 0.511),
 ('AFG', 'Asia', 'Afghanistan', datetime.datetime(2020, 2, 26, 0, 0), 1.0, 0.0, None, None, None, None, 0.026, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 8.33, 38928341.0, 54.422, 18.6, 2.581, 1.337, 1803.987, None, 597.029, 9.59, None, None, 37.746, 0.5, 64.83, 0.511),
 ('AFG', 'Asia', 'Afghanistan', datetime.datetime(2020, 2, 27, 0, 0), 1.0, 0.0, None, None, None, None, 0.026, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 8.33, 38928341.0, 54.422, 18.6, 2.581, 1.337, 1803.987, None, 597.029, 9.59, None, None, 37.746, 0.5, 64.83, 0.511),
 ('AFG', 'Asia', 'Afghanistan', datetime.datetime(2020, 2, 28, 0, 0), 1.0, 0.0, None, None, None, None, 0.026, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 8.33, 38928341.0, 54.422, 18.6, 2.581, 1.337, 1803.987, None, 597.029, 9.59, None, None, 37.746, 0.5, 64.83, 0.511)]

As we can see, We have tons of data and many columns. We are not gonna work on all of them but few. Lets select toal_cases, new_cases, total_deaths and poplution.

In [26]:
%%sql

SELECT location, date, total_cases, new_cases, total_deaths, population
FROM covid_deaths
ORDER BY 2
LIMIT 5;

 * mysql://root:***@localhost:3306/mydatadb
5 rows affected.

[('Mexico', datetime.datetime(2020, 1, 1, 0, 0), None, None, None, 128932753.0),
 ('Argentina', datetime.datetime(2020, 1, 1, 0, 0), None, None, None, 45195777.0),
 ('Argentina', datetime.datetime(2020, 1, 2, 0, 0), None, None, None, 45195777.0),
 ('Mexico', datetime.datetime(2020, 1, 2, 0, 0), None, None, None, 128932753.0),
 ('Mexico', datetime.datetime(2020, 1, 3, 0, 0), None, None, None, 128932753.0)]

BY running the query above we can clearly see that the first ever infected cases and deaths were spoted in china on January 22, 2020. Total death counted that day is 17 and total cases were 548.

Lets find out the overall death ratio compared to total cases from my home country which is Bangladesh.

In [27]:
%%sql 

-- Total Cases vs Total Deaths

SELECT location, date, total_cases, total_deaths, (total_deaths/total_cases)*100 AS Death_percentage
FROM covid_deaths
WHERE location like '%desh%' and continent is not null
ORDER BY 5 DESC, 2
LIMIT 5;

 * mysql://root:***@localhost:3306/mydatadb
5 rows affected.

[('Bangladesh', datetime.datetime(2020, 3, 25, 0, 0), 39.0, 5.0, 12.82051282051282),
 ('Bangladesh', datetime.datetime(2020, 4, 4, 0, 0), 70.0, 8.0, 11.428571428571429),
 ('Bangladesh', datetime.datetime(2020, 3, 26, 0, 0), 44.0, 5.0, 11.363636363636363),
 ('Bangladesh', datetime.datetime(2020, 4, 1, 0, 0), 54.0, 6.0, 11.11111111111111),
 ('Bangladesh', datetime.datetime(2020, 4, 2, 0, 0), 56.0, 6.0, 10.714285714285714)]

Now we gonna look at the total infected ratio compared to overall population in Bangladesh.

In [28]:
%%sql 

SELECT location, date, total_cases, population, (total_cases/population)*100 AS cases_percentage
FROM covid_deaths
WHERE location like '%desh%' and continent is not null
ORDER BY 5 DESC, 2
LIMIT 5;

 * mysql://root:***@localhost:3306/mydatadb
5 rows affected.

[('Bangladesh', datetime.datetime(2021, 4, 30, 0, 0), 759132.0, 164689383.0, 0.46094774670447336),
 ('Bangladesh', datetime.datetime(2021, 4, 29, 0, 0), 756955.0, 164689383.0, 0.4596258642853741),
 ('Bangladesh', datetime.datetime(2021, 4, 28, 0, 0), 754614.0, 164689383.0, 0.4582044004621718),
 ('Bangladesh', datetime.datetime(2021, 4, 27, 0, 0), 751659.0, 164689383.0, 0.45641011357726685),
 ('Bangladesh', datetime.datetime(2021, 4, 26, 0, 0), 748628.0, 164689383.0, 0.45456967921241165)]

In above queries we used the condition "Continenet is not null" in WHERE statetement is because, If we look at the dataset closely we find that the location column contain 'Africa', 'Asia', 'Europe' as a country. Only when the continent is null. To be more specific and acurate we used "continent is not null" in the WHERE statement.

Lets have look!

In [29]:
%%sql 

SELECT *
FROM covid_deaths
WHERE continent is null
LIMIT 5;

 * mysql://root:***@localhost:3306/mydatadb
5 rows affected.

[('OWID_AFR', None, 'Africa', datetime.datetime(2020, 2, 13, 0, 0), None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1340598113.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('OWID_AFR', None, 'Africa', datetime.datetime(2020, 2, 14, 0, 0), 1.0, 1.0, None, None, 0.0, None, 0.001, 0.001, None, None, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1340598113.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('OWID_AFR', None, 'Africa', datetime.datetime(2020, 2, 15, 0, 0), 1.0, 0.0, None, None, 0.0, None, 0.001, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1340598113.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('OWID_AFR', None, 'Africa', datetime.datetime(2020, 2, 16, 0, 0), 1.0, 0.0, None, None, 0.0, None, 0.001, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1340598113.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('OWID_AFR', None, 'Africa', datetime.datetime(2020, 2, 17, 0, 0), 1.0, 0.0, None, None, 0.0, None, 0.001, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1340598113.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]

Now, Lets go global and find those countries has a most highest infection rate compared to their population

In [30]:
%%sql 

SELECT location, population, MAX(total_cases) AS highestCases, MAX((total_cases/population)*100) AS highestInfectedRate
FROM covid_deaths
WHERE continent is not null
GROUP BY location, population
ORDER BY 4 DESC
LIMIT 5;

 * mysql://root:***@localhost:3306/mydatadb
5 rows affected.

[('Andorra', 77265.0, 13232.0, 17.125477253607713),
 ('Montenegro', 628062.0, 97389.0, 15.506271673815641),
 ('Czechia', 10708982.0, 1630758.0, 15.22794603632726),
 ('San Marino', 33938.0, 5066.0, 14.92722022511639),
 ('Slovenia', 2078932.0, 240292.0, 11.558434811720634)]

As we see, Andorra, Montenegro and Czechia has the highest infected cases among 210 countries from world.  

Now lets see which countries had the most death.

In [31]:
%%sql

Select Location, max(total_deaths) as highestDeathCount
From covid_deaths
Where continent is not null
Group by Location
Order by 2 DESC
LIMIT 5;

 * mysql://root:***@localhost:3306/mydatadb
5 rows affected.

[('United States', 576232.0),
 ('Brazil', 403781.0),
 ('Mexico', 216907.0),
 ('India', 211853.0),
 ('United Kingdom', 127775.0)]